*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.color{
    background-color: white;
}
nav{
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px;   
}

.search-box{
    position: relative;
    padding: 20px;
    font-size: 20px;
}

nav .icon{
    font-size: 45px;
    font-weight: 800;
    color: #f90050;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 25px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 10px;
    font-size: 35px;
    color: transparent;
    background: linear-gradient(10deg,#ce1446,#5cacc4);
    -webkit-background-clip: text;
    letter-spacing: 40px;   
    cursor: pointer;
}

nav .search-box input{
    border: none;
    outline: none;
    background: whitesmoke;
    height: 100%;
    padding: 0 40px;
    font-size: 20px;
    width: 650px;
}

nav .search-box span{
    color: ;
    font-size: 35px;
    background:;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search-box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: whitesmoke;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .search-box span:hover::after{
    width: 100%;
}

